* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*-----------LINKS-----------*/

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/*-----------BODY-----------*/

body {
    font-family: Arial;
    height: auto;
    font-size: 12;
    font-family: "Roboto";
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 20px;
    }
}


/*-----------HEADER-----------*/

header {
    background-color: #40e0d0;
    background-size: 50vw 50vh;
    display: flex;
    height: 45vh;
    justify-content: center;
    align-items: center;
}

@media(min-width:1000px) {
    header {
        background-image: url("../img/Banner.jpg");
        background-size: 100vw 100vh;
        height: 100vh;
    }
}


/*-----------MENU-----------*/

.menu {
    background-color: whitesmoke;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    box-shadow: 0px 5px 15px #363636;
    z-index: 3;
}

.menu a {
    display: block;
    padding: 10px 20px;
    color: #836fff;
    font-family: Lobster;
    font-size: 20px;
}

@media (min-width: 768px) {
    .menu a {
        font-size: 24px;
    }
}

.menu a:hover {
    filter: drop-shadow(0 0 0.2em #836fff);
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}


/*----------TITLE------------*/

.site-title,
.site-subtitle {
    color: #ffffff;
    text-align: center;
    font-family: Lobster;
    text-shadow: 5px 5px 5px #1d1e1f;
}

.site-subtitle {
    font-style: italic;
}


/*-----------CONTENT-----------*/

.about h2,
.portifolio h2,
.contacts h2 {
    background-color: rgb(87, 87, 87);
    color: whitesmoke;
    font-family: "Nova Mono";
    text-align: center;
}


/*-----------ABOUT-----------*/

.about {
    background-color: gray;
    padding-bottom: 1em;
}

.about-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about p {
    font-family: 'Nova Mono';
    text-align: justify;
    text-indent: 1.4em;
    padding-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.about a {
    color: white;
}

.about a:hover {
    color: cyan;
    text-decoration: underline;
}

.about .portrait {
    float: left;
    margin: 1em;
}

.about .portrait img {
    border-radius: 50%;
    height: 50vh;
    width: 30vw;
}


/*-----------PORTIFOLIO-----------*/

.portifolio {
    background-color: #40e0d0;
}

.portifolio .grid {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.portifolio Figure {
    text-align: center;
}

.img-portfolio {
    width: 400px;
    height: 400px;
    transition: 500ms;
    margin: 10px;
}

.img-portfolio:hover {
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 0 0 10px #1d1e1f, 0 0 10px #1d1e1f, 0 0 10px rgb(87, 87, 87);
}

.img-portifolio-text {
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
    font-family: Lobster;
    text-shadow: 5px 5px 5px #1d1e1f;
}

@media (max-width: 600px) {
    .img-portfolio {
        width: 40vh;
        height: 40vh;
        padding: 0;
        margin-block-start: 10px;
        border: solid 1px #dcdcdc;
    }
    .img-portfolio:hover {
        transform: scale(1.1);
        z-index: 2;
        box-shadow: 0 0 10px #dcdcdc, 0 0 10px #dcdcdc, 0 0 10px #dcdcdc;
    }
}


/*-----------CONTACTS-----------*/

.contacts {
    background-color: #836fff;
}

.contacts .social {
    background-color: #836fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social i {
    color: #000000;
    font-size: 25px;
    margin: 20px;
}

@media(min-width:600px) {
    .social i {
        color: #000000;
        font-size: 50px;
        margin: 40px;
    }
}

.social i:hover {
    filter: drop-shadow(0 0 0.2em #1d1e1f);
}